* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  ul {
    height: 80px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-size: 20px;
  }
  
  li {
    transition: all 200ms linear;
  }
  
  li:hover {
    color: #ffff;
    transition: all 200ms linear;
  }
  
  .menu {
    color: #9932cc;
    background-color: #1b1a22;
  }
  
  #section01 {
    background-color: #ffff;
  }
  
  #section02 {
    background-color: green;
  }
  
  #section03 {
    background-color: yellow;
  }
  
  #section04 {
    background-color: blue;
  }
  
  section {
    height: 70vh;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }